:root {
  --globalMargin: 10px;
  --greenColor: #57965c;
  --lightGreenColor: #80e0a7;
  --redColor: #c94f4f;

  --backgroundColor: white;
  --backgroundColor-dark: #1e1f22;

  --contextMenuBackgroundColor: white;
  --contextMenuBackgroundColor-dark: #2b2d30;
  --contextMenuLineColor: black;
  --contextMenuLineColor-dark: #43454a;

  --textColor: black;
  --textColor-dark: #ced0d6;

  --lineColor: black;
  --lineColor-dark: #393b40;
}
