:root {
  --greenColor: #57965c;
  --redColor: #c94f4f;

  --backgroundColor: white;
  --backgroundColor-dark: #1e1f22;

  --textColor: black;
  --textColor-dark: #ced0d6;

  --lineColor: black;
  --lineColor-dark: #393b40;
}